---
const articles = await Astro.glob("../pages/articles/**/*.mdx");
---

<div>
  {
    articles
      .reverse()
      .slice(0, 3)
      .map((article) => (
        <article>
          <p>
            <a href={article.url}>{article.frontmatter.title}</a>
          </p>
          <small>{article.frontmatter.date}</small>
        </article>
      ))
  }
</div>

<style lang="scss" scoped>
  article {
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
  }
</style>
