<div class="">
  <div
    class="container flex flex-col md:flex-row justify-betweenw-full m-auto px-8 py-6 md:py-10"
  >
    <div
      class="grow shrink basis-0 text-white text-2xl font-bold font-['Inter'] leading-9 text-left"
    >
      <a href="/">@t4traw</a>
    </div>
    <div class="justify-start items-center gap-12 flex min-w-10">
      <div class="justify-start items-center gap-2.5 flex">
        <div class="text-white text-xl font-['Inter'] leading-loose">
          <a href="/">About</a>
        </div>
      </div>
      <!-- <div class="justify-start items-center gap-2.5 flex">
        <div class="text-white text-xl font-['Inter'] leading-loose">Works</div>
      </div> -->
      <div class="justify-start items-center gap-2.5 flex">
        <div class="text-white text-xl font-['Inter'] leading-loose">
          <a href="/blog">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
