<div>
  <span><a href="/about">About</a></span>
  <span><a href="/blog">Blog</a></span>
  <!-- <span><a href="/">Works</a></span> -->
  <!-- <span><a href="/">Job</a></span> -->
</div>

<style lang="scss">
  div {
    span {
      display: inline-block;
      padding: 2rem 0.5rem;
      &:first-child {
        padding-left: 0;
      }
    }
  }
</style>
