---
const posts = await Astro.glob("../pages/blog/**/*.mdx");
---

<div>
  {
    posts.reverse().map((post) => (
      <article>
        <p>
          <a href={post.url} rel="prefetch">
            {post.frontmatter.title}
          </a>
        </p>
        <small>{post.frontmatter.date}</small>
      </article>
    ))
  }
</div>

<style lang="scss" scoped>
  article {
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
  }
</style>
