---
const posts = await Astro.glob('../pages/blog/**/*.mdx');
---

<div class="container m-auto px-8 sm:px-20 md:px-20 lg:px-40 xl:px-56 2xl:px-96 py-8 md:py-20">
  <div class="prose prose-invert">
    {
      posts.reverse().map((post) => (
        <article>
          <p>
            <a href={post.url} rel="prefetch">
              {post.frontmatter.title}
            </a>
          </p>
          <small>{post.frontmatter.date}</small>
        </article>
      ))
    }
  </div>
</div>

<style lang="scss" scoped>
  article {
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
  }
</style>
