---
export interface Props {
  frontmatter: any;
}

const { frontmatter } = Astro.props;

import NavBar from '@components/NavBar.astro';
import '../styles/index.scss';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title || frontmatter.head} - t4traw.net</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
  </head>
  <body class="bg-zinc-800">
    <NavBar />
    <main>
      <div class="container m-auto px-8 sm:px-20 md:px-20 lg:px-40 xl:px-56 2xl:px-96 py-8 md:py-20">
        <div class="prose prose-invert">
          <h1>{frontmatter.title}</h1>
          <small>{frontmatter.date}</small>
          <slot />
        </div>
      </div>
    </main>
    <footer>
      <p>
        Created by <a href="https://twitter.com/t4traw" target="_blank">@t4traw</a>
      </p>
    </footer>
  </body>
</html>

<style lang="scss" scoped>
  h1 {
    margin-bottom: 0;
  }
</style>
