---
import HeaderNav from "@components/NavBar.astro";
import "../styles/index.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
  </head>
  <body class="bg-zinc-800">
    <HeaderNav />
    <main>
      <slot />
    </main>
    <footer>
      <div class="container m-auto py-12">
        <div class="text-center text-white">
          <p>
            Created by
            <a href="https://twitter.com/t4traw" target="_blank">@t4traw</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
